.btn {
    padding: 12px 16px;
}

.btn:hover {
    background-color: #17324f;
}
#profil1 {
     display: inline-block;
     border: 2px ;
     width: 70px;
     height: 70px;
     border-radius: 50%;
     overflow: hidden;
 }
#profil2 {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}


@media (min-width: 993px) and (max-width: 3000px)
{ #voir,#button,#fig
{
    display: none;
}
}

@media (min-width: 0px) and (max-width: 993px)
{ #fig1
{
    display: none;
}
}

