{% extends 'base.html.twig' %}
{% block title 'Créer un Article' %}
{% block body %}
    <div class="container" style="text-align: center;">
        <div class="row" style="justify-content: center;margin-top: 50px;color: whitesmoke">
            <div class="col-lg-6">
                {{ include ('Page/figure/form.html.twig' , {form :form,button :'Créer'}) }}
            </div>
        </div>
    </div>
{% endblock %}
