{% block title 'Confirmation de modification du Mot de pass' %}
{% block body %}
    <div class="container" style="text-align: center;margin-top: 50px">
        <div class="row">
            <br> Cliquez sur le lien pour confirmer l'enregistrement<br>

            <a href="http://localhost:8000/UpdatePassword/{{ user }}" style="color: #C5D86D">lien</a>
        </div>
    </div>
{% endblock %}
